<!DOCTYPE html>
<html lang="en">

<head>
  <title>first_HandIn</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  {% load static %}
  <link rel="stylesheet"  href="{% static 'style.css' %}">
</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" id="logo" href="/"><span>JustSa</span></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="select"><a href="/">Home</a></li>
          <li><a href="/order/">Order delivery</a></li>
          <li><a href="/myDeliveries/">My deliveries</a></li>
          <li><a href="/makeDelivery/">Make a delivery</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <ul class="breadcrumb text-center">
    <li class="active"><a href="/">Home</a></li>
    {% if user.is_authenticated %}
    <li class="logout"><form action="{% url 'logoutuser' %}" method="POST">
      {% csrf_token %}
      <button type="submit" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-log-out"></span> Logout</button>
    </form> </li>
    <li class="login"> Hello {{user.username}}<div class="ellipse"></div>
     
    </li>
    {% endif %}
  </ul>

  <main>
    <div class="container text-center ">
      <div class="row content">
        <h1>Welcome to <span id="logo">JustSa</span></h1><br>
        <p>A free social sharing platform for shipments
          <br>Where each user can be either a messenger or a sender</p><br>
          {% if user.is_authenticated %}
        <h3>Please select an action</h3><br><br>
        <div class="ops">
          <a href="/order/" class="icon"><i class="fas fa-box"></i></a>
          <h5>Order delivery</h5>
        </div>
        <div class="ops">
          <a href="/makeDelivery/" class="icon"><i class="fas fa-people-carry"></i></a>
          <h5>Make a delivery</h5>
        </div>
        {% else %}
        <h3 class="errMsg">{{errMsg}}</h3>
        <a href="/login/" class="btn btn-primary">login</a>
        <a href="/register/" class="btn btn-primary">register</a>
        {% endif %}
      </div>
    </div>
  </main>
</body>

</html>